.brewery-container {
  display: flex;
  justify-content: center;
  width: 95%;
  align-self: center;
  margin: auto;
  /* Width Originally not specified */
}

.brewery-header-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 40px;
  /* Width Originally not specified */
}

.brewery-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid black;
  width: 100%;

  /* Width originally 900px */
}

.brewery-row:hover {
  cursor: pointer;
}

.brewery-header-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 0px;
  /* Width originally 900px */
}

.brewery {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 50px;
  width: 30%;
  /* flex-grow: 1; */
}

.brewery h1 {
  font-size: 16px;
  width: 350px;
}

.brewery-data {
  display: flex;
  text-align: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* flex-grow: 2; */
  width: 70%;
  align-items: center;
}

.brewery-address {
  width: 35%;
  min-width: 150px;
}
.brewery-rating {
  width: 10%;
  min-width: 55px;
}
.brewery-open {
  color: green;
  width: 8%;
  min-width: 55px;
}

.brewery-closed {
  color: red;
  width: 8%;
  min-width: 55px;
}

.brewery-status {
  width: 8%;
}

.social-media-icons {
  width: 95px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
}

.brewery-phoneNumber {
  width: 200px;
}

@media (max-width: 1100px) {
  .brewery-data {
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    align-items: center;
  }
  .brewery-address {
    display: flex;
  }
  #header {
    display: none;
  }
}

@media (max-width: 550px) {
  .brewery-address {
    display: none;
  }
}
