* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.brewery-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  color: black;
  /* width: 70%; */
}

.brewery-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.brewery-text {
  margin-bottom: 32px;
  text-align: center;
}

.brewery-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;

  background: linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #e2e2e2;
}

.brewery-input::placeholder {
  color: black;
}

button {
  width: 30px;
  border: 1px solid black;
}

button:hover {
  width: 30px;
  border: 1px solid lightgreen;
  cursor: pointer;
}

.results-container {
  display: flex;
  width: 100%;
}
.map-container {
  position: sticky;
  top: 0px;
  height: 100vh;
}

.sticky {
  position: relative;
  height: 100vh;
}

.brewery-info-container {
  justify-content: center;
  flex-direction: column;
  width: 70%;
  align-content: left;
  /* Width Originally not specified */
}

@media (max-width: 800px) {
  .results-container {
    flex-direction: column;
  }
  .brewery-info-container {
    width: 100%;
  }
  .map-container {
    display: none;
  }
}
